@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;

  --gray-50: #f7f8fa;
  --gray-100: #e6e8eb;
  --gray-200: #afb2b1;
  --gray-500: #808080;
  --gray-800: #494d4b;
  --gray-900: #303030;

  --green-500: #04d361;

  --purple-300: #9f75ff;
  --purple-400: #9164fa;
  --purple-500: #8257e5;
  --purple-800: #6f48c9;
}

/*
      Conforme a tela vai diminuindo, 
      a estrutura de font vai diminuindo também.
      Está em % por uma questão de assessibilidade: 
      por padrão, o todo o html começa com font-size: 16px,
      mas, se o user precisa, por n motivos, aumentar
      a fonte do distema, esse valor muda. Assim, 
      por questões de assessibilidade, é amplamente indicado 
      tudo ser o mais relativo possível.
  */

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; // 15px (por padrão)
  }
}

@media (max-width: 1080px) {
  html {
    font-size: 87.5%; // 14px
  }
}

body,
input,
textarea,
button {
  font: 500 1rem Ubunto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Ubunto", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font: 500 1rem "Ubunto", sans-serif;
}

button {
  cursor: pointer;
}

.grafite {
  background: #1d1d1e !important;
}

.btn-neo {
  background: radial-gradient(
    187.5% 187.5% at 50.29% -54.17%,
    #ed3148 0%,
    #3f00f2 100%
  );
  box-shadow: 0px 3px 56px 9px #2c00a8,
    -1px -1px 42px -7px rgba(237, 49, 72, 0.4);
}

.btn-neo:hover,
.btn-neo:focus {
  background: radial-gradient(
    187.5% 187.5% at 50.29% -54.17%,
    #ed3148 0%,
    #3f00f2 100%
  );
  box-shadow: 0px 3px 56px 9px #3300be,
    -1px -1px 42px -7px rgba(237, 49, 71, 0.596);
}
.btn-neo:active,
.btn-neo.active {
  background-color: #3300be;
  border-color: #3300be;
}
