.header {
  background: red;

  nav {
    padding: 1rem;
    .link {
      text-decoration: none;
      color: white;
      font-weight: 700;
      padding: 1rem;
      margin: 2rem;

      &.signupButton {
        color: green;
      }
    }
  }
}
